#cheevos-toolbarbutton {
  -moz-box-orient: horizontal !important;
}

#cheevos-toolbarbutton > .toolbarbutton-text {
  display: inline;
  -moz-padding-start: 3px;
}

#cheevos-achievementOverlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cheevos-achievementOverlay > hbox {
  width: 100%;
}

#cheevos-achievementOverlay-message {
  font: 12px Segoe UI, Helvetica, sans-serif;
  color: #fff;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 400px;
  opacity: 1;
  -moz-transition: opacity 500ms linear 10s;
}

#cheevos-achievementOverlay[hidden] #cheevos-achievementOverlay-message {
  opacity: 0;
  -moz-transition: opacity 500ms linear 10s;
}

#cheevos-achievementOverlay[fadeOut] #cheevos-achievementOverlay-message {
  opacity: 0;
  -moz-transition: opacity 500ms linear 10s;
}

#cheevos-achievementOverlay-achievement {
  max-height: 100px;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  background-image: url(noise-overlay-orange.png),
                    -moz-linear-gradient(#a65d29, #591d09);
  border-radius: 3px;
  border: 1px solid #ff6;
  /*box-shadow: 0 0 30px #ff6;*/
  -moz-animation-name: achievementGlow;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
}

@-moz-keyframes achievementGlow {
  from {
    box-shadow: 0 0 25px #ff6;
  }
  25% {
    box-shadow: 0 0 30px #ffa;
  }
  50% {
    box-shadow: 0 0 25px #ffd4bf;
  }
  75% {
    box-shadow: 0 0 30px #ffeecc;
  }
  to {
    box-shadow: 0 0 25px #ff6;
  }
}

#cheevos-achievementOverlay-award {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

#cheevos-achievementOverlay-achievement.bronze #cheevos-achievementOverlay-award {
  background-image: url(award-glyph-default-bronze.png), url(award-disc-background-bronze.png);
}

#cheevos-achievementOverlay-achievement.silver #cheevos-achievementOverlay-award {
  background-image: url(award-glyph-default-silver.png), url(award-disc-background-silver.png);
}

#cheevos-achievementOverlay-achievement.gold #cheevos-achievementOverlay-award {
  background-image: url(award-glyph-default-gold.png), url(award-disc-background-gold.png);
}

#cheevos-achievementOverlay-h1, #cheevos-achievementOverlay-h2 {
  color: white;
  margin: 0;
  text-shadow: 0 0 2px #333;
  font-weight: normal;
}

#cheevos-achievementOverlay-h1 {
  padding-top: 20px;
}

#cheevos-achievementOverlay-h2 {
  color: #F0B289;
  line-height: 16px;
  font-size: 16px;
  width: 325px;
}

#cheevos-achievementOverlay-meta {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 75px;
  height: 100%;
  border-left: 1px groove rgba(0,0,0,.3);
  background-image: url(noise-overlay-orange.png),
                    -moz-linear-gradient(#cc7333, #67220a);
}

#cheevos-achievementOverlay-points {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 2px #333;
  line-height: 60px;
  text-align: center;
  vertical-align: top;
}

#cheevos-achievementOverlay-meta.bronze #cheevos-achievementOverlay-points {
  background-image: url(point-ring-bronze.png);
  color: #ffd4bf;
}

#cheevos-achievementOverlay-meta.silver #cheevos-achievementOverlay-points {
  background-image: url(point-ring-silver.png);
  color: #e5eaff;
}

#cheevos-achievementOverlay-meta.gold #cheevos-achievementOverlay-points {
  background-image: url(point-ring-gold.png);
  color: #ffeecc;
}

#cheevos-achievementOverlay-medals {
  width: 100%;
  text-align: center;
  margin: 8px 0 0;
  padding: 0;
  list-style-type: none;
}

#cheevos-achievementOverlay-medals li {
  display: inline-block;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  margin: 0 3px;
  background-repeat: no-repeat;
  background-position: center;
}

#cheevos-achievementOverlay-meta.gold li:nth-child(1),
#cheevos-achievementOverlay-meta.silver li:nth-child(1),
#cheevos-achievementOverlay-meta.bronze li:nth-child(1) {
  background-image: url(star-bronze-filled.png);
}

#cheevos-achievementOverlay-meta.gold li:nth-child(2),
#cheevos-achievementOverlay-meta.silver li:nth-child(2) {
  background-image: url(star-silver-filled.png);
}

#cheevos-achievementOverlay-meta.gold li:nth-child(3) {
  background-image: url(star-gold-filled.png);
}

#cheevos-achievementOverlay-meta.bronze li:nth-child(2) {
  background-image: url(star-silver-empty.png);
}

#cheevos-achievementOverlay-meta.bronze li:nth-child(3),
#cheevos-achievementOverlay-meta.silver li:nth-child(3) {
  background-image: url(star-gold-empty.png);
}

/* Adds a hover shine effect, not sure how we should use this */
/*#cheevos-achievementOverlay-achievement:before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 900px;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: -400px -150px;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(
      -85deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 49%,
      rgba(255, 255, 255, 0.8) 49.5%,
      rgba(255, 255, 255, 0.0) 50%
  );
  -moz-background-size: 500% 500%;
  opacity: 0;
  -moz-transition: background-position .5s ease 200ms,
                   opacity 200ms ease 0s;
}

#cheevos-achievementOverlay-achievement:hover:before {
  background-position: 0 0;
  opacity: 1;
  -moz-transition: background-position .5s ease 200ms,
                   opacity 200ms ease 0s;
}*/
