#cheevos-toolbarbutton {
  -moz-box-orient: horizontal !important;
}

#cheevos-toolbarbutton > .toolbarbutton-text {
  display: inline;
  -moz-padding-start: 3px;
}

#cheevos-achievementOverlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cheevos-achievementOverlay > hbox {
  width: 100%;
}

#cheevos-achievementOverlay-message {
  font: 12px Segoe UI, Helvetica, sans-serif;
  color: #fff;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 500px;
  opacity: 1;
  -moz-transition: opacity 2s ease-out 10s;
}

#cheevos-achievementOverlay[hidden] #cheevos-achievementOverlay-message {
  opacity: 0;
  -moz-transition: opacity 2s ease-out 10s;
}

#cheevos-achievementOverlay[fadeOut] #cheevos-achievementOverlay-message {
  opacity: 0;
  -moz-transition: opacity 2s ease-out 10s;
}

#cheevos-achievementOverlay-achievement {
  background: #b2815a;
  max-height: 100px;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  background: url(wood.png) center no-repeat;
  border-radius: 8px;
  box-shadow: 0 0 2px #ffa;
}

#cheevos-achievementOverlay-award {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px;
}

#cheevos-achievementOverlay-h1, #cheevos-achievementOverlay-h2 {
  color: white;
  margin: 0;
  text-shadow: 0 0 2px #333;
}

#cheevos-achievementOverlay-h1 {
  padding-top: 20px;
  font-weight: bold;
}

#cheevos-achievementOverlay-h2 {
  color: #F0B289;
  font-size: 100%;
  font-weight: normal;
}

#cheevos-achievementOverlay-meta {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: inset 0px 0px 50px black;
}

#cheevos-achievementOverlay-points {
  width: 50px;
  height: 50px;
  background-color: #e8d9b5;
  margin: 10px 25px 0;
  line-height: 50px;
  text-align: center;
}

#cheevos-achievementOverlay-medals {
  width: 100%;
  text-align: center;
  margin: 8px 0 0;
  padding: 0;
  list-style-type: none;
}

#cheevos-achievementOverlay-medals li {
  display: inline;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center;
}

#cheevos-achievementOverlay-medals li:nth-child(1) {
  background-image: url(award_star_bronze_1.png);
}

#cheevos-achievementOverlay-medals li:nth-child(2) {
  background-image: url(award_star_silver_1.png);
}

#cheevos-achievementOverlay-medals li:nth-child(3) {
  background-image: url(award_star_gold_1.png);
}
