body {
  background-color: white;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
}
h1 {
  margin: 0;
  text-shadow: 0 0 10px goldenrod;
}
h2 {
  margin-top: 0;
}
p {
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: square;
}
#top-bar {
  background-color: #ECECEC;
  padding: 0 5px 5px 20px;
}

li {
  -moz-box-sizing: border-box;
  padding: 5px;
  background-color: #f8f8f8;
  outline: 1px solid #c6c6c6;
  display: inline-block;
  color: silver;
  cursor:pointer;
}

.achieved {
  background-color: #7da2e3;
  color: white;
  -moz-transition: background-color 200ms linear;
}

li:hover {
  background-color: white;
}

.achieved:hover {
  background-color: #5080D8;
}

@media all and (min-width: 1200px) {
  body {
    width: 1000px;
  }
  li {
    width: 250px;
	height: 250px;
  }
}

@media all and (max-width: 1199px) and (min-width: 900px) {
  body {
    width: 800px;
  }
  li {
    width: 200px;
    height: 200px;
  }
}

@media all and (max-width: 899px) and (min-width: 550px) {
  body {
    width: 450px;
  }
  li {
    width: 225px;
    height: 150px;
  }
}

@media all and (max-width: 549px) and (min-width: 350px) {
  body {
    width: 250px;
  }
  li {
    width: 250px;
	height: 50px;
  }
}

@media all and (max-width: 349px) {	
  body {
    width: 100%;
  }
  li {
    display: block;
	height: 50px;
  }
}
