body {
  background-color: white;
  color: silver;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}
h1 {
  margin: 0;
  font-size: 10px;
  color: black;
  text-shadow: 0 0 10px goldenrod;
  display: inline;
}
h2 {
  margin: 0;
  font-size: 10px;
  display: inline;
}
p {
  font-size: 12px;
  margin: 0;
  display: inline;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: square;
}

#top-bar {
  background-color: #ECECEC;
  border: 1px solid #BDBDBD;
  padding: 3px 0 3px 6px;
}

.achieved {
  background-color: #5080D8;
}

li {
  -moz-box-sizing: border-box;
  padding: 5px;
  width: 240px;
  height: 148px;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  display: inline-block;
}

li:hover {
  background-color: white;
}
